.filter-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter-form input[type="number"],
.filter-form select,
.filter-form button {
    width: 180px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.filter-form button {
    background-color: #111;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter-form button:hover {
    background-color: #333;
}